body
{
    background-color: rgba(225,225,225,2.5);
}

.new
{
    border:1px solid #1d2124;
    border-radius: 2px;
}

.new img
{
    border:1px solid #1d2124;
    border-radius: 2px;
}

.lbS
{
    color: rgba(255,255,255,.5);
    margin:7px 0;
}

